.wrapper{
    margin: 0 auto;
    width: 600px;
}

.appSearch{
    width: 100%;
    border: 2px solid coral;
    background: #4682b4;
    margin: 0 auto;
}

.inputSearch{
    width: 80%;
    height: 30px;
    padding: 0;
    border: 0;
}

.buttonSearch{
    background: #f4a460;
    color: #4682b4;
    width: 20%;
    height: 30px;
    padding: 0;
    border: 0;
}




.ulHolidays{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;

}

.ulHolidays li{
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}
